fastapi
numpy
pandas
matplotlib
requests
beautifulsoup4
pillow
google-genai
dotenv
subprocess.run
fastparquet
python-multipart
uvicorn
pyarrow
lxml
html5lib
pdfplumber
openpyxl
xlrd #if the render goes above 500 mb, remove this one 
duckdb